.btn {
    text-transform: uppercase;
    font-size: 1.2rem;
    position: relative;
    transition: 0.3s;

    &::after {
        content: "";
        width: 20%;
        position: absolute;
        left: 0;
        bottom: -5px;
        border: 2px solid #fff;
        transition: 0.3s;
    }

    &:hover {
        text-decoration: none;

        &::after {
            width: 100%;
        }
    }

    &--secondary {
        &::after {
            border-color: $text-secondary;
        }
    }

    &--add, &--pricing, &--delete, &--bordered {
        border: 1px solid #999999;
        padding: 0.5rem;
        font-size: 1rem;
        background: transparent;
        text-transform: lowercase;
        color: #999999;
        min-height: 0;

        &::after {
            border: none;
        }
    }

    &--pricing {
        border-left: none;
    }

    &--bordered {
        margin-bottom: 0.5rem;
        width: 100%;
        text-transform: uppercase;
        font-size: 0.8rem;
    }
}