.card {
    width: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    background: #ffffff;

    &__image {
        width: 100%;
        height: auto;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        font-size: 1rem;
        line-height: 1.5rem;
        flex-direction: column;
    }

    &__price {
        margin-top: 1rem;
        font-size: 1.15rem;
    }
}