.content {
    &__title {
        color: $background-third;
        font-size: 4rem;
        margin-bottom: 2rem;
        padding: 1rem;

        &--gray {
            color: $text-five;
        }
    }

    &__subtitle {
        color: inherit;
        font-size: 0.5em;
        margin-bottom: 0;
        font-style: italic;
        font-weight: 300;
    }

    @include tablet-breakepoint() {
        &__title {
            grid-column: 1 / -1;
            font-size: 7rem;
        }
    }
}