.contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin-bottom: 2rem;

    @include tablet-breakepoint() {
        grid-template-columns: repeat(2, 1fr);
    }

    &__title {
        font-weight: 300;
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    &__form {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;

        @include tablet-breakepoint() {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__input {
        border: 1px solid #999999;
        background: transparent;
        font-size: 1rem;
        padding: 1rem;
    }

    &__textarea {
        border: 1px solid #999999;
        background: transparent;
        grid-column: 1/-1;
        font-size: 1rem;
        padding: 1rem;
    }

    &__button {
        width: auto;
        background: #c3ccdb;
        font-size: 1rem;
        color: #ffffff;
        padding: 1rem;
        border-radius: 25px;
        border: none;
    }
}

.contact-bar {
    width: 100%;
    grid-column: 1/-1;
    padding: 1rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff;
    margin-top: 2rem;

    
    p {
        margin-bottom: 1rem;
    }
    
    @include pc-breakepoint() {
        flex-direction: row;
        align-items: center;

        p {
            margin-bottom: 0;
        }
    }
}