.footer {
    width: 100%;
    @include container;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-size: 1.4rem;
    color: $text-primary;

    &__content {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

    @include pc-breakepoint() {
        flex-direction: row;
    }
}