.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    @include tablet-breakepoint() {
        &--md2 {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &--menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;

        @include pc-breakepoint() {
            grid-template-columns: 1fr 30%;
        }
    }
}