.header {
    width: 100%; 
    position: fixed;
    top: 0;
    left: 0;
    background: $background-primary;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include pc-breakepoint() {
        padding: 0 calc((100vw - 1170px) / 2); 
    }

    &__container {
        @include container;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }

    &__link {
        display: inline;
    }

    &__logo {
        width: 70%;
        height: 100%;
        text-align: right;

        & img {
            max-width: 100%;
            height: auto;
        }
    }

    @include pc-breakepoint() {

        flex-direction: row;

        &__container {
            width: auto;
            margin: 0;
            max-width: auto;
        }

        &__logo {
            width: auto;
        }
    }
}