.mainpage {
    @include container;
    margin-top: 5rem;
    padding: 1rem;
    display: grid;
    grid-template-areas: "wedding wedding image-one"
                         "image-two decorations decorations"
                         "image-two events events"
                         "communion communion image-four"
                         "image-five wedding-parties wedding-parties"
                         "offer offer image-three";
    grid-template-columns: 20% 1fr 20%;

    @include pc-breakepoint() {
        grid-template-areas: "wedding wedding image-one"
                             "image-two decorations image-three"
                             "image-two events events"
                             "communion image-four image-four"
                             "image-five wedding-parties offer";
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
    }
}

.event {
    padding: 1.2rem 1rem;

    @include pc-breakepoint() {
        padding: 4rem;
    }

    &__counter {
        font-family: 'Playfair Display', serif;
        font-size: 4rem;
        color: #ffffff;
        margin-bottom: 1rem;

        &--primary {
            color: $text-secondary;
        }

        &--secondary {
            color: $text-third;
        }
    }

    &__title {
        font-size: 1.8rem;
    }

    &__subtitle {
        font-style: italic;
        font-weight: 400;
    }
    
    &__content {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
    
    &__image {
        // background-repeat: no-repeat;
        
        &--wedding {
            background: url('../assets/img_07.jpg');
            grid-area: image-one;
        }

        &--decorations {
            background: url('../assets/img_09.jpg');
            grid-area: image-two;
        }

        &--events {
            background: url('../assets/img_11.jpg');
            grid-area: image-three;
        }

        &--communion {
            background: url('../assets/img_14.jpg');
            grid-area: image-four;
        }

        &--wedding-parties {
            background: url('../assets/img_16.jpg');
            grid-area: image-five;
        }
        
        // background-size: contain;
        // background-position: center;
    }

    &--wedding {
        background: $background-secondary;
        grid-area: wedding;
    }

    &--decorations {
        background: $background-third;
        grid-area: decorations;
    }

    &--events {
        background: $background-four;
        grid-area: events;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    &--communion {
        background: $background-five;
        grid-area: communion;
    }

    &--wedding-parties {
        background: $background-four;
        grid-area: wedding-parties;
    }


}

.offer {
    background: $background-six;
    grid-area: offer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;

    &__title {
        font-size: 2.2rem;
        color: $text-four;
        font-weight: 600;
        margin-bottom: 2rem;
    }

    &__input {
        width: 100%;
        background: transparent;
        font-size: 1.1rem;
        font-weight: 300;
        padding: 0.5rem;
        text-align: center;
        border: 1px solid $text-four;
        border-radius: 25px;
        color: $text-four;
        font-family: 'Playfair Display', serif;
        font-style: italic;
        margin-bottom: 1.5rem;

        &::placeholder {
            color: $text-four;
        }
    }

    &__button {
        background: $text-four;
        border: none;
        width: 100%;
        padding: 0.5rem;
        color: #fff;
        font-size: 1.1rem;
        font-family: 'Playfair Display', serif;
        font-style: italic;
        border-radius: 25px;

        &:hover {
            background: $text-third;
        }
    }
}