.menu {

    font-size: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    border-bottom: 1px solid #999999;

    @include pc-breakepoint() {
        grid-template-columns: 20% 1fr;
    }

    &__title {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 0;
        font-family: 'Montserrat', sans-serif;
        grid-column: 1 / -1;
    }

    &__subtitle {
        font-size: 0.5em;
        text-transform: lowercase;
    }
    
    &__gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;

        & img {
            width: 100%;
            height: auto;
        }

        & img.main {
            grid-column: 1 / -1;
        }

        &--full-width {
            grid-column: 1 / -1;
        }
    }

    &__full-grid {
        grid-column: 1 / -1;
    }

    &__description {
        list-style-type: none;
        font-weight: 700;
        margin-bottom: 1rem;

        & li {
            margin-bottom: 0.5rem;
        }

        & li::before {
            content: url('../assets/pointer.png');
            margin-right: 4px;
        }
    }

    &__variant {
        display: grid;
        grid-template-columns: 1fr 30%;
        padding-bottom: 1rem;
        font-size: 0.9rem;
        grid-gap: 0.5rem;
        margin-bottom: 0.5rem;
        
        &:not(:last-of-type) {
            border-bottom: 1px solid #999999;
        }
    }

    &__variant-list {
        list-style-type: none;

        & li {
            margin-bottom: 0.5rem;
        }

        & li::before {
            content: '+';
            margin-right: 4px;
        }
    }

}

.pricing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    font-size: 0.8rem;

    &__title {
        font-family: 'Montserrat', sans-serif;
        grid-column: 2/3;
        margin-bottom: 0;
    }

    &__group {
        display: flex;
    }

    &__input {
        background: transparent;
        border: 1px solid #999999;
        padding: 0.5rem 1rem;
    }
}