.modal {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: 0.3s;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 9999999999999999999;

    &__card {
        padding: 2rem;
        background: $background-secondary;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__input {
        width: 100%;
        padding: 1rem;
        border: 1px solid #999999;
        background: transparent;
        margin-bottom: 1rem;
    }

    &--is-open {
        transform: scale(1);
    }
}