.navigation-trigger {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    background: transparent;
    border: none;

    &__bar {
        display: block;
        width: 40px;
        height: 2px;
        margin-bottom: 5px;
        background: $logo;
    }

    @include pc-breakepoint() {
        display: none;
    }
}

.navigation {
    
    font-size: 1rem;
    display: none;
    width: 100%;

    &__list {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include box-shadow;
        text-transform: uppercase;
        font-size: 0.8rem;
    }

    &__item {
        border-top: 1px solid $background-secondary;
        width: 100%;
    }

    &__link {
        display: block;
        padding: 1rem;
    }

    &--is-open {
        display: block;
    }

    @include pc-breakepoint() {
        display: flex;
        flex-direction: row;

        &__list {
            flex-direction: row;
            box-shadow: none;
        }
        
        &__item {
            border: none;
            width: auto;
        }
    }
}