.price {

    width: 100%;
    grid-area: price;
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 500;
    color: $text-six;
    
    &__label {
        width: 100%;
        height: auto;
        border: 1px solid $text-six;
        padding: 0.5rem;
    }
}