.summary-trigger {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #999999;
    color: #ffffff;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 1rem;
    padding: 1rem;
    z-index: 9999999;
    border: none;
    @include box-shadow;
    cursor: pointer;

    @include pc-breakepoint() {
        display: none;
    }
}

.summary {
    display: flex;
    width: 100%;
    max-height: 100%;
    font-size: 1rem;
    flex-direction: column;
    padding: 1rem;
    background: #f6f6f6;
    border: 1px solid #999999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);
    z-index: 999999;
    overflow-y: auto;

    @include pc-breakepoint() {
        width: calc((30 * 1170px) / 100);
        min-height: auto;
        transform: scale(1);
        right: calc((100vw - 1170px) / 2); 
        top: 4rem;
        bottom: 6rem;
    }

    &__title {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.25rem;
        font-weight: 300;
        text-transform: uppercase;
    }

    &__subtitle {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 0.8rem;
    }

    &__input {
        border: 1px solid #999999;
        background: transparent;
        padding: 0.5rem;

        &--small {
            width: 3rem;
        }
    }

    & p, & input {
        margin-bottom: 0.5rem;
    }

    .cost {
        font-size: 1.35rem;
        font-weight: 500;

        &::after {
            content: 'PLN';
            margin-left: 5px;
        }
    }

    &--is-open {
        transform: scale(1);
    }

    .line {
        width: 100%;
        border-bottom: 1px solid #999999;
        margin-bottom: 1rem;
    }

    .summary__list {

        list-style-type: none;
        font-size: 0.8rem;
        height: 40%;
        overflow-y: auto;

        li {
            display: grid;
            grid-template-columns: repeat(3, 1fr) 10%;

            & p {
                margin-bottom: 0.2rem;
            }
        }

        .bold {
            font-weight: bold;
        }
    }
}