@mixin mobile-breakepoint {
    @media only screen and (min-width: $mobile-breakepoint) {
        @content;
    }
}

@mixin tablet-breakepoint {
    @media only screen and (min-width: $tablet-breakepoint) {
        @content;
    }
}

@mixin pc-breakepoint {
    @media only screen and (min-width: $pc-breakepoint) {
        @content;
    }
}

@mixin container {
    width: 100%;
    max-width: $pc-breakepoint;
    margin: 0 auto;
}

@mixin box-shadow {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}