// Breakepoints

$mobile-breakepoint: 768px;
$tablet-breakepoint: 1024px;
$pc-breakepoint: 1170px;

// Colors

$background-primary: #f6f6f6;
$background-secondary: #d8e5da;
$background-third: #eacec3;
$background-four: #ffffff;
$background-five: #e8cdae;
$background-six: #d8e5d9;



$logo: #001e51;
$text-primary: #868a86;
$text-secondary: #d9be8f;
$text-third: #b7b7b7;
$text-four: #d9be8f;
$text-five: #d8e5da;
$text-six: #959595;