@import './variables';
@import './mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    background: $background-primary;
    color: #333333;
}

main {
    font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

.container {
    width: 100%;
    max-width: $pc-breakepoint;
    margin: 0 auto;
}

.main-container {
    @include container;
    padding: 1rem;
    margin-top: 6rem;
}

.hide {
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
}

@import './partials/buttons';
@import './partials/grid';
@import './partials/card';
@import './partials/summary';
@import './partials/modal';


@import './partials/header';
@import './partials/navigation';
@import './partials/price';

@import './partials/mainpage';
@import './partials/content';
@import './partials/menu';
@import './partials/contact';

@import './partials/social-icons';
@import './partials/footer';