{{!< base}}

<main class="main-container grid grid--md2">
    <h1 class="content__title">kontakt</h1>
    <div class="contact__map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d163975.3450631044!2d19.864790918780823!3d50.046681353555314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471644c0354e18d1%3A0xb46bb6b576478abf!2zS3Jha8Ozdw!5e0!3m2!1spl!2spl!4v1533150086718" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div>
        <p class="contact__title">Podaj maila to wyślemy ofertę</p>
        <form action="/api/contact.php" method="POST" class="contact__form">
            <input type="text" name="name" class="contact__input" placeholder="Twoje imię*" required>
            <input type="text" name="email" class="contact__input" placeholder="Twój email*" required>
            <textarea class="contact__textarea" name="message" rows="6" placeholder="Twoja wiadomość*" required></textarea>
            <button type="submit" class="contact__button">Zamawiam ofertę</button>
        </form>
    </div>
    <div class="contact-bar">
        <p>Skontakuj się z nami</p>
        <p><span class="fa fa-home"></span> Natolin 43, 05-825 Grodzisk Mazowiecki</p>
        <p><span class="fa fa-phone"></span> +48 501-344-519</p>
        <p><span class="fa fa-envelope"></span> jedrzejewski.natolin@gmail.com</p>
    </div>
</main>