{{!< base}}

<main class="main-container grid grid--md2">
    <h1 class="content__title">dekoracje</h1>
    <a href="./decoration.hbs">
        <figure class="card">
            <img src="../assets/decorations_03.jpg" alt="" class="card__image">
            <figcaption class="card__content">
                Dekoracje kwiatowe
            </figcaption>
        </figure>
    </a>
    <a href="#">
        <figure class="card">
            <img src="../assets/decorations_05.jpg" alt="" class="card__image">
            <figcaption class="card__content">
                Przystajanie pojazdów
            </figcaption>
        </figure>
    </a>
    <a href="#">
        <figure class="card">
            <img src="../assets/decorations_09.jpg" alt="" class="card__image">
            <figcaption class="card__content">
                Dekoracje ogrodów
            </figcaption>
        </figure>
    </a>
    <a href="#">
        <figure class="card">
            <img src="../assets/decorations_11.jpg" alt="" class="card__image">
            <figcaption class="card__content">
                Dekoracje kwiatowe
            </figcaption>
        </figure>
    </a>
    <a href="#">
        <figure class="card">
            <img src="../assets/decorations_14.jpg" alt="" class="card__image">
            <figcaption class="card__content">
                Przystrajanie pojazdów
            </figcaption>
        </figure>
    </a>
    <a href="#">
        <figure class="card">
            <img src="../assets/decorations_16.jpg" alt="" class="card__image">
            <figcaption class="card__content">
                Dekoracje ogrodów
            </figcaption>
        </figure>
    </a>
</main>