{{!< base}}

<main class="main-container grid">
    <h1 class="content__title">
        <p>dekoracje</p> 
        <p class="content__subtitle">
            kwiatowe
        </p>
    </h1>
    <figure class="card">
        <img src="../assets/decoration_03.jpg" alt="" class="card__image">
        <figcaption class="card__content">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic sunt unde ut blanditiis earum, consectetur labore quaerat quia et. Provident?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic sunt unde ut blanditiis earum, consectetur labore quaerat quia et. Provident?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic sunt unde ut blanditiis earum, consectetur labore quaerat quia et. Provident?</p>
            <p class="card__price">
                Szacowany koszt: 140 PLN
            </p>
        </figcaption>
    </figure>
</main>