{{!< base}}

<main class="mainpage">
        <section class="event event--wedding">
            <p class="event__counter">01</p>
            <h2 class="event__title">
                <p class="event__subtitle">Organizujemy</p>
                <p>Wesela</p>
            </h2>
            <p class="event__content">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non adipisci qui dignissimos eius placeat labore ducimus voluptatibus quia laborum numquam.
            </p>
            <a href="#" class="btn">Sprawdź</a>
        </section>
        <section class="event event--decorations">
            <p class="event__counter">02</p>
            <h2 class="event__title">
                <p class="event__subtitle">Tworzymy</p>
                <p>Dekoracje</p>
            </h2>
            <p class="event__content">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non adipisci qui dignissimos eius placeat labore ducimus voluptatibus quia laborum numquam.
            </p>
            <a href="#" class="btn">Sprawdź</a>
        </section>
        <section class="event event--events">
            <p class="event__counter event__counter--primary">03</p>
            <h2 class="event__title">
                <p class="event__subtitle">Przygotowujemy</p>
                <p>Imprezy okolicznościowe</p>
            </h2>
            <p class="event__content">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non adipisci qui dignissimos eius placeat labore ducimus voluptatibus quia laborum numquam.
            </p>
            <a href="#" class="btn btn--secondary">Sprawdź</a>
        </section>
        <section class="event event--communion">
            <p class="event__counter">04</p>
            <h2 class="event__title">
                <p class="event__subtitle">Organizujemy</p>
                <p>Komunie</p>
            </h2>
            <p class="event__content">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non adipisci qui dignissimos eius placeat labore ducimus voluptatibus quia laborum numquam.
            </p>
            <a href="#" class="btn">Sprawdź</a>
        </section>
        <section class="event event--wedding-parties">
            <p class="event__counter event__counter--secondary">05</p>
            <h2 class="event__title">
                <p class="event__subtitle">Wykonujemy</p>
                <p>Przyjęcia weselne</p>
            </h2>
            <p class="event__content">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non adipisci qui dignissimos eius placeat labore ducimus voluptatibus quia laborum numquam.
            </p>
            <a href="#" class="btn btn--secondary">Sprawdź</a>
        </section>
        <section class="offer">
            <h2 class="offer__title">Aby pobrać naszą ofertę</h2>
            <form action="/api/getoffer.php" method="POST">
                <input type="email" class="offer__input" name="email" placeholder="tu wpisz swojego maila">
                <button type="submit" class="offer__button">wciśnij ten przycisk</button>
            </form>
        </section>
        <div class="event__image event__image--wedding"></div>
        <div class="event__image event__image--decorations"></div>
        <div class="event__image event__image--events"></div>
        <div class="event__image event__image--communion"></div>
        <div class="event__image event__image--wedding-parties"></div>
    </main>

        <a href="../pages/sendoffer.hbs" class="hide"> </a>