{{!< base}}
{{> summary}}
{{> modal}}
<main class="main-container grid grid--menu">
    <div>
    <h1 class="content__title content__title--gray">menu</h1>
    
        <div class="menu">
            <h2 class="menu__title">
                Oferta weselna 2018
            </h2>
            <div class="menu__gallery">
                <img src="../assets/menu_03.jpg" class="main" alt="">
                <img src="../assets/menu_03.jpg" alt="">
                <img src="../assets/menu_03.jpg" alt="">
            </div>
            <div>

            <ul class="menu__description">
                <li>Koszt podstawowy 180 PLN za osobę</li>
                <li>Czas trwania: całonocna zabawa do 10 godzin</li>
            </ul>
            <div class="menu__variant">
                <ul class="menu__variant-list">
                    <li>przywitanie gości lampką wina musującego</li>
                </ul>
                <button class="btn btn--add" disabled>w cenie</button>
            </div>
            <div class="menu__variant">
                <ul class="menu__variant-list">
                    <li>przywitanie gości lampką wina musującego</li>
                </ul>
                <button 
                    class="btn btn--add"
                    data-id="MENU2"
                >+ 50zł / os</button>
            </div>
            <div class="menu__variant">
                <ul class="menu__variant-list">
                    <li>przywitanie gości lampką wina musującego</li>
                </ul>
                <button 
                    class="btn btn--add"
                    data-id="MENU3"
                >+ 100zł / os</button>
            </div>
            </div>
        </div>
        <div class="menu">
            <h2 class="menu__title">
                <span>Stół wiejski</span>
            </h2>
            <div class="menu__gallery">
                <img src="../assets/menu_08.jpg" alt="" class="main">
            </div>
            <div>
                <div class="menu__variant">
                    <p>Dla najbardziej wymagających...</p>
                    <button 
                        class="btn btn--add"
                        data-id="STOLWIEJSKI"
                    >+ 1000zł / os</button>
                </div>
            </div>
        </div>
        <div class="menu">
            <h2 class="menu__title">
                <span>Fontanna czekoladowa</span>
            </h2>
            <div class="menu__gallery">
                <img src="../assets/menu_10.jpg" alt="" class="main">
            </div>
            <div>
                <p class="menu__description">
                    Dla lubiących słodkości...
                </p>
                <div class="menu__variant">
                    <p>Cena do 50 osób</p>
                    <button 
                        class="btn btn--add"
                        data-id="FONTANNA1"
                    >+ 600zł / os</button>
                </div>
                <div class="menu__variant">
                    <p>Cena do 80 osób</p>
                    <button 
                        class="btn btn--add"
                        data-id="FONTANNA2"
                    >+ 800zł / os</button>
                </div>
                <div class="menu__variant">
                    <p>Cena powyżej 80 osób</p>
                    <button 
                        class="btn btn--add"
                        data-id="FONTANNA3"
                    >+ 1000zł / os</button>
                </div>
            </div>
        </div>
        <div class="menu">
            <h2 class="menu__title">
                <span>Alkohol</span>
            </h2>
            <div class="menu__gallery menu__gallery--full-width">
                <img src="../assets/menu_12.jpg" alt="" class="main">
            </div>
        </div>
        <div class="menu">
            <h2 class="menu__title">
                <span>Korkowe</span>
            </h2>
            <div class="menu__full-grid">
                <div class="menu__variant">
                    <p>Goście którzy chcą wykorzystać...</p>
                    <button 
                        class="btn btn--add"
                        data-id="KORKOWE"
                    >+ 10zł / os</button>
                </div>
            </div>
        </div>
        <div class="menu">
            <h2 class="menu__title">
                <span>Opłata za butelkę</span>
            </h2>
            <div class="menu__full-grid">
                <div class="menu__variant">
                    <p>Naliczana za każdą napoczętą butelkę wg poniższego cennika z 0.5l. Podpowiedź: na weselu do 100 osób schodzi zazwyczaj 40 butelek wódki i 20 wina. </p>
                    {{!-- <button 
                            class="btn btn--add"
                            data-price="65"
                            data-name="OPŁATA ZA BUTELKĘ"
                            data-perperson="true"
                        >+ 65zł / os</button> --}}
                </div>
                <div class="pricing">
                    <h3 class="pricing__title">Liczba butelek</h3>
                    <p>Żubrówka 26zł</p>
                    <div class="pricing__group">
                        <input type="number" min="0" class="pricing__input" data-id="ZUBROWKA" />
                    </div>
                    <p>Wyborowa 29zł</p>
                    <div class="pricing__group">
                        <input type="number" min="0" class="pricing__input" data-id="WYBOROWA" />
                    </div>
                    <p>Stumbras 35zł</p>
                    <div class="pricing__group">
                        <input type="number" min="0" class="pricing__input" data-id="STUMBRAS" />
                    </div>
                    <p>Finlandia 39zł</p>
                    <div class="pricing__group">
                        <input type="number" min="0" class="pricing__input" data-id="FINLANDIA" />
                    </div>
                    <p>Butelka wina 23zł</p>
                    <div class="pricing__group">
                        <input type="number" min="0" class="pricing__input" data-id="WINO" />
                    </div>
                </div>
            </div>
        </div>
        <div class="menu">
            <h2 class="menu__title">
                <span>Open Bar</span>
            </h2>
            <div class="menu__full-grid">
                <div class="menu__variant">
                    <ul class="menu__variant-list">
                        <li>Open bar</li>
                        <li>Barman (maksymalnie do 7 godzin)</li>
                    </ul>
                    <button 
                            class="btn btn--add"
                            data-id="OPENBAR"
                        >+ 65zł / os</button>
                </div>
            </div>
        </div>
        <div class="menu">
            <h2 class="menu__title">
                <span>Dekoracje</span>
            </h2>
            <div class="menu__gallery menu__gallery--full-width">
                <img src="../assets/menu_15.jpg" alt="" class="main">
            </div>
        </div>
        <div class="menu">
            <h2 class="menu__title">Dekoracje ogrodu</h2>
            <div class="menu__full-grid">
                <div class="menu__variant">
                    <ul class="menu__variant-list">
                        <li>dekoracje i aranżacja terenu</li>
                    </ul>
                    <button class="btn btn--add" disabled>w cenie</button>
                </div>
                <div class="menu__variant">
                    <ul class="menu__variant-list">
                        <li>płonąca misa podczas wieczornych uroczystości</li>
                    </ul>
                    <button 
                        class="btn btn--add"
                        data-id="PLONACA_MISA"
                    >+ 200zł</button>
                </div>
            </div>
        </div>
        <div class="menu">
            <h2 class="menu__title">Dekoracje sali</h2>
            <div class="menu__full-grid">
                <div class="menu__variant">
                    <ul class="menu__variant-list">
                        <li>niskie bukiety z mieszanych kwiatów...</li>
                    </ul>
                    <button class="btn btn--add" disabled>w cenie</button>
                </div>
                <div class="menu__variant">
                    <ul class="menu__variant-list">
                        <li>świece na stołach gości</li>
                    </ul>
                    <button 
                        class="btn btn--add"
                        data-id="DEKORACJE_SALI_1"
                    >+ 25zł / os</button>
                </div>
                <div class="menu__variant">
                    <ul class="menu__variant-list">
                        <li>kompozycje kwiatowe o różnych formatach</li>
                    </ul>
                    <button 
                        class="btn btn--add"
                        data-id="DEKORACJE_SALI_2"
                    >+ 400zł</button>
                </div>
            </div>
        </div>
        <div class="menu">
            <h2 class="menu__title">Stół pary młodej</h2>
            <div class="menu__full-grid">
                <div class="menu__variant">
                    <ul class="menu__variant-list">
                        <li>dekoracje kieliszków powitalnych Państwa młodych</li>
                    </ul>
                    <button class="btn btn--add" disabled>w cenie</button>
                </div>
                <div class="menu__variant">
                    <ul class="menu__variant-list">
                        <li>kompozycja kwiatowa przed Parą Młodą</li>
                    </ul>
                    <button 
                        class="btn btn--add"
                        data-id="STOL_PANSTWA_MLODYCH_2"
                    >+ 200zł</button>
                </div>
            </div>
        </div>
        <div class="menu">
            <h2 class="menu__title">Wiązanka ślubna z butonierką</h2>
            <div class="menu__full-grid">
                <div class="menu__variant">
                    <ul class="menu__variant-list">
                        <li>ślubna dekoracja dla pana młodego</li>
                        <li>ślubna dekoracja dla pani młodej</li>
                    </ul>
                    <button 
                        class="btn btn--add"
                        data-id="WIAZANKA_SLUBNA"
                    >+ 50zł</button>
                </div>
            </div>
        </div>
        <div class="menu">
            <h2 class="menu__title">Dekoracje ślubne dla druhny i druha</h2>
            <div class="menu__gallery">
                <img src="../assets/menu_17.jpg" alt="" class="main">
            </div>
            <div class="menu__variant">
                <p>Dodatki na rękę dla druhny</p>
                <button 
                    class="btn btn--add"
                    data-id="DODATKI_DRUHNA"
                >+ 100zł</button>
            </div>
            <div class="menu__gallery">
                <img src="../assets/menu_20.jpg" alt="" class="main">
            </div>
            <div class="menu__variant">
                <p>Dodatki na rękę dla druhny</p>
                <button 
                    class="btn btn--add"
                    data-id="DODATKI_DRUHNA_2"
                >+ 100zł</button>
            </div>
        </div>
        <div class="menu">
            <h2 class="menu__title">Dekoracje auta</h2>
            <div class="menu__gallery">
                <img src="../assets/menu_22.jpg" alt="" class="main">
            </div>
            <div class="menu__variant">
                <p>Przykład 1</p>
                <button 
                    class="btn btn--add"
                    data-id="DEKORACJE_AUTA"
                >+ 500zł</button>
            </div>
            <div class="menu__gallery">
                <img src="../assets/menu_24.jpg" alt="" class="main">
            </div>
            <div class="menu__variant">
                <p>Przykład 2</p>
                <button 
                    class="btn btn--add"
                    data-id="DEKORACJE_AUTA_2"
                >+ 750zł</button>
            </div>
        </div>
        <div class="menu">
            <h2 class="menu__title">
                Dodatki
            </h2>
            <div class="menu__gallery menu__gallery--full-width">
                <img src="../assets/menu_26.jpg" alt="" class="main">
            </div>
        </div>
        <div class="menu">
            <h2 class="menu__title">Pokaz fajerwerków</h2>
                <div class="menu__gallery">
                    <img src="../assets/menu_29.jpg" alt="" class="main">
                </div>

                <div class="menu__variant">
                    <ul class="menu__variant-list">
                        <li>pokaz trwa 3 minuty</li>
                        <li>składa się z 13 rodzajów fajerwerków</li>
                    </ul>
                    <button 
                        class="btn btn--add"
                        data-id="FAJERWERKI"
                    >+ 1200zł</button>
                </div>
        </div>
        <div class="menu">
            <h2 class="menu__title">
                Podziękowania dla rodziców
            </h2>
            <div class="menu__gallery">
                <img src="../assets/menu_32.jpg" alt="" class="main">
            </div>
            <div class="menu__variant">
                <p>PAKIET PODSTAWOWY zawiera pudełka z czekoladkami</p>
                <button 
                    class="btn btn--add"
                    data-id="PODZIEKOWANIA_1"
                >+ 800zł</button>
            </div>
            <div class="menu__gallery">
                <img src="../assets/menu_34.jpg" alt="" class="main">
            </div>
            <div class="menu__variant">
                <div>
                    <p>PAKIET MEDIUM</p>
                    <p>dla rodziców przygotowane są specjalne grawery...</p>
                </div>
                <button 
                    class="btn btn--add"
                    data-id="PODZIEKOWANIA_2"
                >+ 1000zł</button>
            </div>
        </div>
    </div>
        {{!-- <button class="menu__price" disabled
        >
            w cenie
        </button> --}}
          
</main> 