<footer class="footer">
    <p class="footer__content">
        <a href="/">Jędrzejewski</a>
    </p>
    <ul class="social-icons">
        <li class="social-icons__item">
            <a href="#">
                <span class="fa fa-facebook"></span>
            </a>
        </li>
        <li class="social-icons__item">
            <a href="#">
                <span class="fa fa-twitter"></span>
            </a>
        </li>
        <li class="social-icons__item">
            <a href="#">
                <span class="fa fa-google-plus"></span>
            </a>
        </li>
        <li class="social-icons__item">
            <a href="#">
                <span class="fa fa-behance"></span>
            </a>
        </li>
        <li class="social-icons__item">
            <a href="#">
                <span class="fa fa-pinterest"></span>
            </a>
        </li>
        <li class="social-icons__item">
            <a href="#">
                <span class="fa fa-instagram"></span>
            </a>
        </li>
    </ul>
</footer>