<header class="header">
    <div class="header__container">
        <button class="navigation-trigger" id="navigationTrigger">
            <span class="navigation-trigger__bar"></span>
            <span class="navigation-trigger__bar"></span>
            <span class="navigation-trigger__bar"></span>
            <span class="navigation-trigger__bar"></span>
        </button>
        <div class="header__logo">
            <a href="/">
                <img src="../assets/img_03.png" alt="Jędrzejewski - catering">
            </a>
        </div>
    </div>
    <nav class="navigation" id="navigation">
        <ul class="navigation__list">
            <li class="navigation__item">
                <a href="../pages/menu.hbs" class="navigation__link">Wesela</a>
            </li>
            <li class="navigation__item">
                <a href="../pages/decorations.hbs" class="navigation__link">Dekoracje</a>
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link">Komunie</a>
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link">Imprezy okolicznościowe</a>
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link">Przyjęcia weselne</a>
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link">Catering</a>
            </li>
            <li class="navigation__item">
                <a href="../pages/contact.hbs" class="navigation__link">Kontakt </a>
            </li>
        </ul>
    </nav>
</header>