<div class="modal">
    <div class="modal__card">
        <h2 class="modal__title">Podaj swój e-mail</h2>
        <form class="modal__form" method="POST" action="/api/sendoffer.php">
            <input name="date" type="hidden" id="dateSummary" />
            <input name="persons" type="hidden" id="persons" />
            <input name="childs" type="hidden" id="childs" />
            <input name="total" type="hidden" id="total" />
            <input name="perperson" type="hidden" id="perperson" />
            <input name="summary" type="hidden" id="summary" />
            <input name="email" class="modal__input" type="email" id="userEmail" required />
            <button type="submit" class="btn btn--bordered" id="sendOffer"> Wyślij ofertę</button>
        </form>
        <button class="btn btn--bordered" id="closeModal">Zamknij</button>
    </div>
</div>