<button class="summary-trigger">+</button>
<div class="summary">
    <h2 class="summary__title">Podsumowanie</h2>
    <div class="summary__settings">
        <p>Planowany termin (wpisz datę lub przedział czasu)</p>
        <input type="text" class="summary__input" id="date" />
        <p>Koszt oblicz dla 
            <input type="number" min="0" required id="numberOfAdult" class="summary__input summary__input--small"> 
            osób, w tym 
            <input type="number" min="0" required id="numberOfChild" class="summary__input summary__input--small"> 
            dzieci w wieku 4-9 lat.
        </p>
    </div>
    <div class="summary__costs">
        <p>Szacowany koszt</p>
        <p class="cost" id="cost">6500</p>
        <p>Koszt za osobę</p>
        <p class="cost" id="costPerPerson">180</p>
        <div class="line"></div>
        <ul class="summary__list">

        </ul>
        <div class="line">
        </div>

        <button class="btn btn--bordered" id="openModal">Wyślij zapytanie mailem</button>
        <button class="btn btn--bordered">Zadzwoń XXX-XXX-XXX</button>
    </div>
</div>