<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jędrzejewski</title>
    <link href="../styles/main.scss" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500|Playfair+Display:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    {{>header}}
    {{{body}}}
    {{>footer}}
    <script src="../js/index.js"></script>
</body>
</html>